numpy >=1.24.3, < 2.0.0
pandas >= 2.0.2, < 3.0.0
statsmodels >=0.14.0, < 1.0.0
matplotlib >=3.7.1, < 4.0.0
seaborn >=0.12.2, < 1.0.0
scikit-learn >=1.2.2, < 2.0.0
pyarrow >=12.0.0, < 13.0.0
ipykernel >=6.23.1, < 7.0.0
s3fs >= 2023.5.0, < 2024.0.0
openpyxl >= 3.1.2, < 4.0.0
japanize-matplotlib >= 1.1.3, < 2.0.0
fixedeffectmodel >= 0.0.5, < 1.0.0
networkx >= 3.1, < 4.0
pyhdfe >= 0.1.2, < 1.0.0
linearmodels >= 5.1, < 6.0
selenium >= 4.15.2, < 5.0.0
chromedriver-binary >= 121.0.6122.0.0, < 122.0.0.0.0
bs4 >= 0.0.1, < 1.0.0
requests >= 2.31.0, < 3.0.0
datar >= 0.15.3, < 1.0.0
webdriver-manager >= 4.0.1, < 5.0.0
plotnine >= 0.12.3, < 1.0.0
patchworklib >= 0.6.2, < 1.0.0
pyjanitor >= 0.26.0, < 1.0.0
xlrd >= 2.0.1, < 3.0.0
nbformat >= 5.9.2, < 6.0.0
nbclient >= 0.9.0, < 1.0.0
fastparquet >= 2023.10.1, < 2024.0.0
